{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/button-has-type": "off",
    "no-use-before-define": "off",
    "no-shadow": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [".storybook/**", "./src/components/**"]
      }
    ]
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
