@import '../../../utils/variables.scss';

.Account {
  display: inline-flex;
  align-items: center;

  height: 30px;

  padding: 0 15px;

  border-radius: $border-radius-main;
  border: 1px solid $border-input-dark;
}

.Account-Colon {
  margin: 0 8px;
  margin-top: 4px;
}
