$color-main: #0d0d0d;
$color-main-light: #999999;

$color-accent: #0055fb;
$color-accent-light: #45a5ff;

$color-success: #30b800;
$color-fail: #cf2c00;

$color-red: #cf2c00;

$background-color-main: #f6f6f6;
$background-color-secondary: #ffffff;

$background-color-divider: #cccccc;

$border-input-darker: #999999;
$border-input-dark: #c4c4c4;
$border-input-main: #cccccc;
$border-input-light: #dedede;

$border-radius-main: 5px;
$border-radius-secondary: 8px;
